<section>
    <h2>Education</h2>

    <div>
        <p><strong>2023 - FEBRUARY 2024 (EXPECTED GRADUATION DATE)</strong></p>
        <p class="turquoise-text">Master in Big Data, Artificial Intelligence and Disruptive Technologies</p>
        <p>Digital Age University, Barcelona, Spain</p>
        <p>EQF Level 7</p>
    </div>

    <div>
        <p><strong>JANUARY 2013 (COMPLETED)</strong></p>
        <p class="turquoise-text">Bachelor of Science in Electronic and Telecommunication Engineering</p>
        <p>North South University, Dhaka, Bangladesh</p>
        <p>EQF Level 6</p>
      </div>

</section>
