<section>
    <h2>Contact</h2>
    <p>
      <img src="assets/icons/location_icon.png" alt="Location Icon" width="20" height="20"> Viareggio, Tuscany, Italy
    </p>
    <p>
      <img src="assets/icons/phone_icon.png" alt="Phone Icon" width="20" height="20">+39 328 675 9232
    </p>
    <p>
      <img src="assets/icons/email_icon.png" alt="Email Icon" width="20" height="20"> navilnoor&#64;gmail.com
    </p>
    <p>
      <img src="assets/icons/linkedin_icon.png" alt="LinkedIn Icon" width="20" height="20"> <a href="https://www.linkedin.com/in/navilnoor" target="_blank">LinkedIn</a>
    </p>
    <p>
      <img src="assets/icons/github_icon.png" alt="GitHub Icon" width="20" height="20"> <a href="https://www.github.com/navil-noor" target="_blank">Github</a>
    </p>
  </section>
