<section>
    <h2>Welcome to My Portfolio</h2>
    <img src="assets/images/picture.jpg" alt="Picture" class="profile-picture">

    <h2>About Me</h2>
    <p>Enthusiastic IT and Data Science professional with a Bachelor's degree in
        Telecommunications Engineering and a soon-to-be Master's graduate in Big Data,
        Artificial Intelligence and Disruptive Technologies from Digital Age University
        in Barcelona, Spain. Currently, I am working as a part-time Python Instructor
        at Tokio School and CEMP (Center for European Master's Program) in Spain.
    </p>
</section>
