nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: darkgray;
  padding: 10px;
}

nav a {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: gray;
}
